body{
  background-color: #171717;
  color: yellow;

}

#reset {
  position: absolute;
  left: 18%;
  top: 6%;
  z-index: 2;
  /* margin: 7% 0 7%; */
  
}

/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #bb86fc !important;
} */

#parameters{
margin: 3%;
width: 12%;

}

#reset {
  margin-bottom: 7%;
}

#sdv-container{
  position: absolute; width: 80%; height: 90%; left:17%; top:4%; z-index: 1;
}

